@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;900&display=swap');

body {
    margin: 0
    
}

.main-page {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 70%;
    background-color: black;
    width: 25%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    font-size: 2em;
    text-align-last: center;
}

.display {
    grid-column: 1/5;
    background-color:#CAD8DE;;
    color: black;
    height: auto;
    text-align-last: start;
}

.operation {
    background-color: #E89005;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.clear {
    background-color: #FF6663;
    color: black;
}

.equal {
    background-color: #CAD8DE;
    color: black;
}

.no {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}